@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    background-color: #e9e4e0;
    color: #6E7575;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .skill-tag:hover {
    border-color: #FC563C !important;
    color: #FC563C !important;
  }

  .social-link {
    color: #6E7575;
  }

  .social-link:hover {
    color: #FC563C;
  }
}
